@use "../abstracts/" as *;

.box-container {
  padding: 20px 15px;
  height: 100vh;
  @include flex(flex, center, center);
}

#box {
  max-width: 630px;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
  background: $box-color;
  box-sizing: border-box;
  box-shadow: 0 5px 50px $dark-gray;
  border-radius: 2%;

  input {
    border: 1px solid $dark-gray;
    border-radius: 7px;
  }
}

h1 {
  margin-bottom: 1.5em;
  font-size: 30px;
  color: $neutral-gray;
  font-weight: 100;
}

h1 span,
small {
  display: block;
  font-size: 14px;
  color: $gray-main;
}

small {
  font-style: italic;
  font-size: 11px;
}

.password {
  width: 90%;
  padding: 15px 12px;
  margin-bottom: 5px;
  border: 1px solid $white-gray;
  border-bottom: 2px solid $white-gray;
  background: $gray-password;
  color: $neutral-gray;
}

#valid {
  font-size: 12px;
  color: $weak-color;
  height: 15px;
}
#strong {
  height: 20px;
  font-size: 12px;
  color: $weak-color;
  text-transform: capitalize;
  background: $white-gray;
  border-radius: 5px;
  overflow: hidden;
}

#strong span {
  display: block;
  box-shadow: 0 0 0 $white-color inset;
  height: 100%;
  transition: all 0.8s;
}
#strong .weak {
  box-shadow: 5em 0 0 $weak-color inset;
}
#strong .medium {
  color: $medium-color;
  box-shadow: 10em 0 0 $medium-color inset;
}
#strong .strong {
  color: $strong-color;
  box-shadow: 50em 0 0 $strong-bgc inset;
}

.button {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $dark-gray;
  cursor: pointer;
  @include font($primary-font, 14px, 600);
  color: $white-color;
  transition: transform 0.2s ease;
  a {
    color: $white-color;
    text-decoration: none;
  }
  &:hover {
    transform: translateY(5px);
    background-color: $button-hover;
    font-weight: 800;
  }
}
