@use "../abstracts/" as *;
.footer {
  padding: 48px 0;

  @include flex(flex, row, center, space-between);

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 30px;
  }
  &__menu {
    font-weight: 700;
    @include flex(flex, row, center);
    gap: 16px;
    &--list {
      a {
        text-decoration: none;
        text-transform: capitalize;
        color: $dark-gray;

        @include responsive("small") {
          font-size: 14px;
        }
      }
    }
  }
  p {
    @include font($primary-font, 14px, 400);
    color: $dark-gray;
  }
}
